<% provide(:title, 'About Us') %>
		<h1>About Us</h1>
		<p>Roll Trees, helping you stay informed on the progression to universal marijuana legalization.  Follow us on <a href=https://twitter.com/RollTrees>Twitter</a> to keep up with the latest news.
		</p>

