<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  We are currently running <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle">alpha testing</a> for our web application.  If you would like to stay in touch, please email rolltrees@gmail.com.
</p>