<% provide(:title, 'Help') %>
		<h1>Help us help you</h1>
		<p>
			<ul>
			<li> Need help <a href="http://420list.com/become_a_patient/">becoming a patient?</a></li>
			<li>Need help with <a href="http://localhost:3000/contact">Roll Trees?</a></li>
			</ul>
		</p>

