<div class="center hero-unit">
  <h1>Welcome to Roll Trees</h1>

  <h2>
    This is the home page for the future
    <a href="https://twitter.com/RollTrees">Roll Trees</a> application.
	<div>Want to stay in touch?</div>
  </h2>
	
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
