<div class="center hero-unit">
  <h1>Roll Trees</h1>

  <h2>
    Welcome to
    <a href="https://twitter.com/RollTrees">Roll Trees</a>
	<div>We are currently performing alpha testing, feel free to sign up!</div>
  </h2>
	
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
