<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>We are currently alpha testing for our upcoming application.  If you'd like to keep in touch email us at rolltrees@gmail.com or follow us on <a href="https://twitter.com/RollTrees">Twitter</a></p>
